body{
  background-color: #020122;
  color: #FC7753;
  position: relative;
}

.title{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

h1, h2 {
  position: relative;
  z-index: 2;
  text-align: center;
}

.bolle {
  position: absolute;
  width: 250px;
  height: 250px;
  background-color: #C7EFCF;
  border-radius: 50%;
  box-shadow: 0 0 20px #C7EFCF;
  animation: floating 5s infinite ease-in-out;
}

.bolle:nth-child(1) {
  top: -10%;
  left: 20%;
  animation-duration: 6s;
}

.bolle:nth-child(2) {
  top: 15%;
  right: 5%;
  animation-duration: 4s;
}

.bolle:nth-child(3) {
  bottom: 0%;
  left: 10%;
  animation-duration: 7s;
}

.bolle:nth-child(4) {
    width: 150px;
    height: 150px;
  bottom: 10%;
  right: -3%;
  animation-duration: 5s;
}

.bolle:nth-child(5) {
    width: 100px;
  height: 100px;
  top: 30%;
  left: 5%;
  animation-duration: 5s;
}


@keyframes floating {
  0% { transform: translateY(0); }
  50% { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

@media screen and (max-width: 680px) {
    .bolle{
        display: none;
    }
}